<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:tx="http://www.springframework.org/schema/tx"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">
 
    <!-- Beans Declaration -->
    <bean id="Agents" class="fr.villemelun.formations.models.Agents" lazy-init="true">
        <property name="services" ref="Services" />
    </bean>
    <bean id="Formations" class="fr.villemelun.formations.models.Formations" lazy-init="true">
        <property name="typeformations" ref="Typeformations" />
        <property name="agents" ref="Agents" />
    </bean>
    <bean id="Listevaleurs" class="fr.villemelun.formations.models.Listevaleurs" lazy-init="true">
        <property name="typeformations" ref="Typeformations" />
    </bean>
    <bean id="Services" class="fr.villemelun.formations.models.Services" lazy-init="true"/>
    <bean id="Typeformations" class="fr.villemelun.formations.models.Typeformations" lazy-init="true"/>
        
    
    <!-- Agents Service Declaration -->
    <bean id="AgentsService" class="fr.villemelun.formations.services.implementations.AgentsService" lazy-init="true">
        <property name="agentsDAO" ref="AgentsDAO" />
    </bean>
    <bean id="ServicesService" class="fr.villemelun.formations.services.implementations.ServicesService" lazy-init="true"> 
        <property name="servicesDAO" ref="ServicesDAO" />
    </bean>
    <bean id="FormationsService" class="fr.villemelun.formations.services.implementations.FormationsService" lazy-init="true">
        <property name="formationsDAO" ref="FormationsDAO" />
    </bean>
    <bean id="ListevaleursService" class="fr.villemelun.formations.services.implementations.ListevaleursService" lazy-init="true">
        <property name="listevaleursDAO" ref="ListevaleursDAO" />
    </bean>
    <bean id="TypeformationsService" class="fr.villemelun.formations.services.implementations.TypeformationsService" lazy-init="true">
        <property name="typeformationsDAO" ref="TypeformationsDAO" />
    </bean>
 
    <!-- Agents DAO Declaration -->
    <bean id="AgentsDAO" class="fr.villemelun.formations.dao.implementations.AgentsDAO" lazy-init="true">
        <property name="sessionFactory" ref="SessionFactory" />
    </bean>
    <bean id="ServicesDAO" class="fr.villemelun.formations.dao.implementations.ServicesDAO" lazy-init="true">
        <property name="sessionFactory" ref="SessionFactory" />
    </bean>
    <bean id="FormationsDAO" class="fr.villemelun.formations.dao.implementations.FormationsDAO" lazy-init="true">
        <property name="sessionFactory" ref="SessionFactory" />
    </bean>
    <bean id="ListevaleursDAO" class="fr.villemelun.formations.dao.implementations.ListevaleursDAO" lazy-init="true">
        <property name="sessionFactory" ref="SessionFactory" />
    </bean>
    <bean id="TypeformationsDAO" class="fr.villemelun.formations.dao.implementations.TypeformationsDAO" lazy-init="true">
        <property name="sessionFactory" ref="SessionFactory" />
    </bean>
 
    <!-- Data Source Declaration -->
    <bean id="DataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close" lazy-init="true">
        <property name="driverClass" value="com.mysql.jdbc.Driver" />
        <property name="jdbcUrl" value="jdbc:mysql://127.0.0.1:3306/formations" />
        <property name="user" value="root" />
        <property name="password" value="" />
        <property name="maxPoolSize" value="10" />
        <property name="maxStatements" value="0" />
        <property name="minPoolSize" value="2" />
    </bean>
 
    <!-- Session Factory Declaration -->
    <!-- org.springframework.orm.hibernate4.LocalSessionFactoryBean -->
    <bean id="SessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="DataSource" />
        <property name="annotatedClasses">
            <list>
                <value>fr.villemelun.formations.models.Agents</value>
                <value>fr.villemelun.formations.models.Formations</value>
                <value>fr.villemelun.formations.models.Listevaleurs</value>
                <value>fr.villemelun.formations.models.Services</value>
                <value>fr.villemelun.formations.models.Typeformations</value>
            </list>
        </property>
        <property name="hibernateProperties" >
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.show_sql">false</prop>
            </props>
        </property>
    </bean>
 
    <!-- Enable the configuration of transactional behavior based on annotations -->
    <tx:annotation-driven transaction-manager="txManager"/>
 
    <!-- Transaction Manager is defined -->
    <bean id="txManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
       <property name="sessionFactory" ref="SessionFactory"/>
    </bean>
 
</beans>
